.navbar {
    z-index: 101;
}

.avatar-me {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-top: 10px;
}

.recom-friend-item {
    border: 1px dashed #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.recom-friend-item-left img {
    width: 100px;
    height: 100px;
}

.recom-friend-item-right {
    margin-left: 20px;
    width: 200px;
}

.recom-friend-item-right a {
    font-size: 20px;
    text-decoration: none;
}

.recom-friend-item-detail {
    margin: 6px auto;
}

.recom-friend-item-detail span {
    color: #666;
    margin-right: 10px;
}

.recom-friend-item-right p.recom-friend-item-signature {
    height: 120px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.profile-avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    box-shadow: 2px 2px 6px #999;
}

.profile-info h2,
.profile-leaveWall h2 {
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.profile-leaveWall h2 {
    margin-left: 20px;
    letter-spacing: 5px;
}

.profile-info .panel-heading,
.profile-leaveWall .panel-heading {
    padding: 0;
    border-radius: 10px 10px 0 0;
}

.profile-info .panel-body dl dt {
    float: left;
    text-align: left;
    margin: 0 20px;
}

.profile-leaveWall .panel {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6)
}

.profile-leaveWall .panel-heading {
    border-bottom: 2px dashed #ccc;
}

.line {
    box-shadow: 2px 3px 2px rgba(125, 125, 125, 0.4);
    z-index: 100;
    left: 50%;
    top: -100px;
    position: absolute;
    width: 20px;
    height: 150px;
    background: rgba(125, 125, 125, 0.3);
}

.profile-leaveWall {
    position: relative;
}

.leaveMsgItem {
    padding: 10px 5px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}

.leaveMsgItem-head button {
    margin-right: 50px;
}

.leaveMsgItem img {
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.leaveMsgItem-left {
    text-align: center;
    margin-right: 20px;
}

.leaveMsgItem-text {
    font-size: 16px;
    margin: 20px 0;
    width: 500px;
    padding: 10px 20px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: -16px;
    left: 50%;
    /* 圆角的位置需要细心调试哦 */
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: #FFF #FFF #eb6864 #FFF;
}

.leaveMsg-from {
    display: block;
    margin-top: 30px;
    color: #333;
    font-size: 16px;
}

.rep-list {
    position: relative;
    border-top: 1px solid #eb6864;
    /*margin-left: 60px;*/
    padding: 20px 10px;
}

.rep-item {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
    /*display: none;*/
}

.rep-item img {
    width: 26px;
    height: 26px;
}

.rep-item>span {
    height: 26px;
    line-height: 26px;
    color: #ccc;
    margin: 10px 20px 0;
}

.rep-item>div {
    text-align: center;
}

.rep-item-content {
    font-size: 12px;
    margin-left: 150px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dynamic-form textarea {
    border-radius: 8px;
    border: 1px solid rgba(125, 125, 125, 0.3);
    padding: 10px 20px;
}

.dynamicH3 {
    letter-spacing: 20px;
    color: #eb6864;
    font-weight: normal;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #ccc;
}

.dynamicItem {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}

.dynamicFooter {
    margin-top: 10px;
}

.dynamicItem-info {
    margin-right: 20px;
}

.profile-info nav button {
    outline: none;
    margin-right: 20px;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.chat-panel .panel-heading {
    padding: 5px;
}

.chat-panel h3 {
    text-align: center;
    font-weight: normal;
    color: #fff;
    font-size: 20px;
}

.chat-panel .panel-body {
    height: 500px;
    overflow-y: scroll;
}

.chat-panel li {
    height: 80px;
    padding: 0;
}

.chat-panel li:hover,
.active-chat {
    background: #2196f3;
    color: #fff;
}

.chat-item-info {
    width: 80%;
    margin: 0 auto;
}

.chat-panel li img {
    vertical-align: middle;
    margin-top: 10px;
    width: 60px;
    height: 60px;
}

.chat-nickname {
    margin-left: 40px;
    font-size: 16px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
}

.chat-box {
    margin-left: -28px;
}

.chat-box .panel-body {
    height: 372px;
    background: #eee;
    box-shadow: 0 2px 2px rgba(125, 125, 125, 0.3);
    overflow-y: scroll;
}

.chat-box .panel-footer {
    border-top: 1px solid rgba(125, 125, 125, 0.3);
    background: #fff;
}

.chat-item {
    padding: 10px 20px;
}

.chat-item img {
    width: 60px;
    height: 60px;
}

.chat-item .content {
    position: relative;
    color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    word-wrap: break-word;
    width: 600px;
}

.arrow-right {
    position: absolute;
    top: 40%;
    ;
    left: -16px;
    /* 圆角的位置需要细心调试哦 */
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: #FFF #eb6864 #FFF #FFF;
}

.arrow-left {
    position: absolute;
    top: 40%;
    ;
    right: -16px;
    /* 圆角的位置需要细心调试哦 */
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: #FFF #FFF #FFF #2196f3;
}

.chat-item-other .avatar {
    float: left;
}

.chat-item-other .content {
    background: #eb6864;
    float: left;
    margin-left: 20px;
}

.chat-item-me .avatar {
    float: right;
}

.chat-item-me .content {
    background: #2196f3;
    float: right;
    margin-right: 20px;
}

.like-btn {
    cursor: pointer;
}

.like-btn:hover {
    color: pink;
    transform: scale(1.5)
}

.dynamicItem .rep-item-from img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}